p {
    direction: rtl;
    text-align: center;
    font-family: tahoma;
    font-size:48px;
  }
  
  body {
      direction: rtl;
      text-align: right;
      font-family: Arial;
      font-size:15px;
     
  }
  
  nav, .dropdown-content {
      background-color: gray;
      
  }
  
  nav > ul > li {
    display: inline;
    }
  
  nav > ul, .dropdown-content > ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  nav > ul > li > a, .dropdown-content > ul > li > a {
      text-decoration: none;
      color: white;
      background-color:gray;
      display: inline-block;
      padding: 10px;
      margin: 5px;
      font-size: 120%;
  }
  
  
  nav > ul > li > a:hover, .dropdown-content > ul > li > a:hover {
      color: blue;
      text-decoration:underline;
  }
  
  nav > ul > li > a.active {
      background-color: lightseagreen;
      color: yellow;
  }
  
  .dropdown {
      position: relative;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      top: 30px;
      right: 0;
      font-family: arial;
      font-size:10px;
      box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.1);
      
  }
  
  .dropdown:hover > .dropdown-content {
      display: block;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
      color: red;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid black;
    height: 80px;
    box-sizing: border-box;
    z-index: 1;
  }
  
   footer {
    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    color:red;
    width: 100%;
    text-align: center;
    height: 70px;
    border-top: 2px solid black;
  }
  